@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-10 col-md-8">
            <h1 class="text-center mb-5">@ViewData["Title"]</h1>

            <p class="lead">Thank you for visiting our website. Your privacy is important to us. This privacy policy outlines the types of personal information we receive and collect when you use our site, as well as some of the steps we take to safeguard your information. We hope this will help you make an informed decision about sharing personal information with us.</p>

            <h2 class="mt-5">Information we collect</h2>

            <p>We collect information from you when you register on our site, place an order, subscribe to our newsletter, respond to a survey, fill out a form, or use certain other site features. When ordering or registering, we may ask you for your name, e-mail address, mailing address, phone number, credit card information, or other information.</p>

            <h2 class="mt-5">How we use your information</h2>

            <p>We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:</p>

            <ul>
                <li>To personalize your experience and to allow us to deliver the type of content and product offerings in which you are most interested.</li>
                <li>To improve our website in order to better serve you.</li>
                <li>To allow us to better service you in responding to your customer service requests.</li>
                <li>To quickly process your transactions.</li>
                <li>To administer a contest, promotion, survey or other site feature.</li>
                <li>To send periodic emails regarding your order or other products and services.</li>
            </ul>

            <h2 class="mt-5">How we protect your information</h2>

            <p>We implement a variety of security measures to maintain the safety of your personal information when you place an order or enter, submit, or access your personal information.</p>

            <h2 class="mt-5">Third-party disclosure</h2>

            <p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information unless we provide you with advance notice, except as described below. The term "outside parties" does not include our business. It also does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential.</p>

            <h2 class="mt-5">Changes to our privacy policy</h2>

            <p>If we decide to change our privacy policy, we will post those changes on this page. This policy was last modified on @DateTime.Now.AddDays(-7).ToShortDateString().</p>

            <h2 class="mt-5">Contacting us</h2>

            <p>If there are any questions regarding this privacy policy, you may contact us using the information below:</p>

            <ul>
                <li>Github: <a href="https://github.com/7beat">7beat</a></li>
                <li>Email: tomaszkrzeminski123@gmail.com</li>
            </ul>

        </div>
    </div>
</div>